---
layout: default
---

<div class="home">
    <div class="container">
        <!-- missing categories and subscription -->
        <h1 class="page-heading">OutSystems Blog</h1>

        <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>
    </div>

    <div class="container">
        <div class="posts row post-list">
            <!-- This loops through the paginated posts -->
            {% for post in paginator.posts %}
            
              <div class="post span4" onclick="location.href='{{ post.url | prepend: site.baseurl }}'">
                  <div class="header">
                      <!-- missing thumbnail -->
                  </div>
                  <div class="entry">
                      <h3><a class="postlink" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                      <div class="postcontent">
                          {{ post.excerpt | strip_html }}
                      </div>
                      <p class="postmetadata byline">
                          By, {{ page.author.display_name }} on {{ post.date | date: "%b %-d, %Y" }}
                      </p>
                  </div>
              </div>
            
            {% endfor %}

        </div>




<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>



    </div>
</div>
