---
layout: default
---

<div class="container" style="
    padding-top: 60px;
">

		<div class="row">
			<div class="leftbar span8">
				<div class="fullpost">

					<article class="" itemscope itemtype="http://schema.org/BlogPosting">

					  <header class="post-header">
					    <h2 class="post-title" itemprop="name headline">{{ page.title }}</h2>
					    <p class="post-meta postmetadata byline">

						{% if page.author.display_name %}
					    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
					    	<span itemprop="name">{{ page.author.display_name }} on </span>
					    </span>

					    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>

					    
					    {% endif %}</p>
					  </header>

					  <div class="post-content postcontent" itemprop="articleBody">
					    {{ content }}
					  </div>


					</article>



					<div class="author_info">
						<div class="author_photo">
							
						</div>
						<div class="author_data">
							<div class="author_about"></div>
							<div class="author_name"><h4></h4></div>
							<div class="author_bio"></div>
						</div>
						<div style="clear:both"></div>
					</div>




			{% include disqus.html %}

			</div>
		</div>


		<div class="sidebar span4" data-swiftype-index="false">

			<div class="social_share">
			</div>

			<div class="rss_subscription">
				<div class="feeds">
					 <p class="rss-subscribe">subscribe <a href="{{ " /feed.xml " | prepend: site.baseurl }}">via RSS</a></p>
				</div>
			</div>


			<div class="more_posts">
				<h4>Explore other categories:</h4>
				<div class="categories">
				</div>
			</div>


			<div class="more_posts_category">
				<h4>More posts in this category:</h4>
			</div>



		</div>


	</div>
</div>